<!--
<input #myInput type="text">
<button (click)="onClick(myInput.value)" >Click me</button>
-->

<md-sidenav md-component-id="{{ SideNav.componentId }}" class="md-whiteframe-4dp">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Menu</h1>
           </md-toolbar>

</md-sidenav>