<div class="md-toolbar-tools">
    <md-button hide-gt-sm class="md-icon-button" aria-label="Menu">
        <md-icon ng-click="TopBar.toggleLeftSideNav();" md-svg-icon="menu-white"></md-icon>
    </md-button>
    <span flex></span>
    <div flex="33">
        Here will be our additional info
    </div>
</div>